@page
@model CascadingDropdownsWithAjax.UI.Pages.Admin.Student.IndexModel
@{
    ViewData["Title"] = "List Of Students";
}

<div class="border backgroundWhite container shadow mt-5">
    <div class="row">
        <div class="col-6">
            <h2 class="text-success">Student List</h2>
        </div>
    </div>
    <br /><br />
    <h4>Students</h4>
    <select asp-for="StudentId" asp-items="Model.Students" class="custom-select">
        <option value="">Select Student</option>
    </select>
    <h4>Courses</h4>
    <select asp-for="CourseId" class="custom-select"></select>
</div>






@section Scripts{

    <script src="~/js/student.js"></script>
}